.app__about {
	flex: 1;
	width: 100%;
	flex-direction: column;
}
.app__profiles {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.app__profile-item {
	width: 350px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 2rem;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	img {
		width: 100%;
		height: 170px;
		border-radius: 9px;
		object-fit: cover;
	}
	@media (min-width: 2000px) {
		width: 370px;
		margin: 2rem 4rem;
		img {
			width: 100%;
			height: 320px;
		}
	}
}

#cv {
	display: block;
	position: fixed;
	top: 50px;
	right: 10vw;
	font-size: 2rem;
	transform: rotate(30deg);
	z-index: 999;
}
