:root {
	--font-base: "DM Sans", sans-serif;

	--primary-color: #bdf7b33b;
	--secondary-color: #2a6e36;
	--black-color: #030303;
	--lightGray-color: #316b1a1c;
	--gray-color: #0f300f;
	--brown-color: #46364a;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
html {
	font-size: 62.5%;
}
/* 

:root {
	--font-base: "DM Sans", sans-serif;

	--primary-color: #edf2f8;
	--secondary-color: #313bac;
	--black-color: #030303;
	--lightGray-color: #e4e4e4;
	--gray-color: #6b7688;
	--brown-color: #46364a;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
} */
